@media (max-width: 375px) {
  @font-face {
    font-family: "Zombie curse";
    src: url(../fonts/Curse\ of\ the\ Zombie.ttf);
  }

  body {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  /*header*/
  .header {
    width: 375px;
  }

  .logo {
    width: 75px;
  }

  .logo img {
    width: 75px;
  }

  .cart {
    margin: 0;
  }

  /* Menu dropdown overlay */
  .menu {
    position: fixed; /* Fix it to the viewport */
    top: 63px; /* Adjust this to start below the header */
    left: 0;
    width: 100%; /* Full width of the viewport */
    height: 60vh; /* Occupy 80% of the viewport height */
    background-color: rgba(0, 0, 0, 0.896); /* Semi-transparent background */
    z-index: 899; /* Below the header, but above other elements */
    display: none; /* Initially hidden */
  }

  .header {
    position: relative;
    z-index: 900;
    height: 8vh;
    padding: 10px;
    box-sizing: border-box; /* Includes padding in total width/height */
  }

  .menu div {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .menu div:hover {
    background-color: rgb(172, 172, 172);
  }

  .menu div h3 {
    font-family: "Zombie curse";
    color: white;
  }

  /*poster informations*/
  .clothingInformations {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .clothingInformations div:nth-child(1) {
    padding: 10px;
  }

  .clothingInformations div:nth-child(1) div {
    padding: 0;
  }

  .clothingInformations div:nth-child(1) div div img {
    width: 100%;
  }
  .clothingInformations div:nth-child(2) {
    margin-top: 20px;
    padding: 10px;
  }

  /*poster description*/
  .clothingDescription {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    width: 90%;
    display: flex;
    align-self: center;
  }

  /*footer*/
  .footer {
    width: 100%;
  }

  .footer div {
    display: flex;
    gap: 20px;
    margin: 0;
  }

  .footer div:nth-child(1) {
    display: flex;
    gap: 20px;
    margin-left: 10px;
  }

  .footer div:nth-child(2) {
    display: flex;
    gap: 20px;
    margin-right: 10px;
  }

  .footer div:nth-child(2) img:nth-child(1) {
    height: 20px;
    width: auto;
  }

  .footer div:nth-child(2) img:nth-child(2) {
    width: 40px;
    height: auto;
  }
}
