@media (max-width: 450px) {
  @font-face {
    font-family: "Zombie curse";
    src: url(../fonts/Curse\ of\ the\ Zombie.ttf);
  }

  @font-face {
    font-family: "Andale mono";
    src: url(../fonts/Andale\ Mono.ttf);
  }

  body {
    margin: 0;
    width: 100%;
    height: auto;
  }

  /*header*/
  .header {
    height: 60px; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    box-sizing: border-box;
  }

  .logo  {
    width: 75px;
  }

  .cart {
    margin: 0;
  }

  /* Menu dropdown overlay */
  .menu {
    position: fixed; /* Fix it to the viewport */
    top: 60px; /* Adjust this to start below the header */
    left: 0;
    width: 100%; /* Full width of the viewport */
    height: 60vh; /* Occupy 80% of the viewport height */
    background-color: rgba(0, 0, 0, 0.896); /* Semi-transparent background */
    z-index: 899; /* Below the header, but above other elements */
    display: none; /* Initially hidden */
    margin-top: 0;
  }

  .menu div {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .menu div:hover {
    background-color: rgb(172, 172, 172);
  }

  .menu div h3 {
    font-family: "Zombie curse";
    color: white;
  }

    /*tag*/
.tag{
  width: auto;
  height: auto;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 3000;
  background-color: black;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 10px;
}

.tag p{
  margin: 0;
  font-family: sans-serif;
  font-size: 0.7rem;
  color: white;
}

  /*clothing text at the top*/
  .clothingTxt {
    margin-top: 10px;
    text-shadow: none;
    margin-top: 60px;
  }

  /*clothing*/
  .clothing {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .clothing div {
    width: 150px;
    padding: 0;
  }

  .clothing div h4,
  p {
    font-family: "Andale mono";
  }

  .clothing div img {
    width: 80%;
  }

  /*footer*/
  .footer {
    width: 100%;
  }

  .footer div {
    display: flex;
    gap: 20px;
    margin: 0;
  }

  .footer div:nth-child(1) {
    display: flex;
    gap: 20px;
    margin-left: 10px;
    font-family: "Andale mono";
  }

  .footer div:nth-child(2) {
    display: flex;
    gap: 20px;
    margin-right: 10px;
  }

  .footer div:nth-child(2) img:nth-child(1) {
    height: 20px;
    width: auto;
  }

  .footer div:nth-child(2) img:nth-child(2) {
    width: 40px;
    height: auto;
  }
}
